<div id="container">
  
</div>

<script type="text/babel">
  var destination = document.querySelector("#container");
  
  var TodoItems = React.createClass({
    render: function() {
      var todoEntries = this.props.entries;
      
      function createTasks(item) {
        return <li key={item.key}>{item.text}</li>
      }

      var listItems = todoEntries.map(createTasks);
      
      return (
        <ul className="theList">
          {listItems}
        </ul>
      );
    }
  });
  
  var TodoLists = React.createClass({
    getInitialState: function() {
      return {
        items: []
      };
    },
    
    addItem: function(e) {
      var itemArray = this.state.items;
      
      itemArray.push({
        text: this._inputElement.value,
        key: Date.now()
      });
      
      this.setState({
        items: itemArray
      });
      
      this._inputElement.value = "";
      
      e.preventDefault();
    },
    
    render: function() {
      var lists = this.props.lists;
      
      function createLists(list) {
        return(
          <div key={list.key}>
            <div className="header">
              {list.text}
              <form onSubmit={this.addItem}>
                <input ref={(a) => this._inputElement = a}
                       placeholder="enter task">
                </input>
                <button type="submit">add</button>
              </form>
            </div>
          
            <TodoItems entries={this.state.items}/>
          </div>
        );
      };
      
      var todoCategories = lists.map(createLists)
      
      return(
        <div>
          {todoCategories}
        </div>
      );
    }
  });
  
  var TodoCategories = React.createClass({
    getInitialState: function() {
      return {
        lists: []
      };
    },
    
    addList: function(e) {
      var listArray = this.state.lists;
      
      listArray.push({
        text: this._inputElement.value,
        key: Date.now()
      });
      
      this.setState({
        lists: listArray
      });
      
      this._inputElement.value = "";
      
      e.preventDefault();
    },
    
    render: function() {
      return(
        <div className="todoListCategories">
          <form onSubmit={this.addList}>
            <input ref={(a) => this._inputElement = a}
                   placeholder="enter category">
            </input>
            <button type="submit">add</button>
          </form>
      
          <TodoLists lists={this.state.lists}/>
        </div>
      );
    }
  });
  
  ReactDOM.render(
    <div>
      <TodoCategories/>
    </div>, destination
  );
</script>