<div id="container">
  
</div>

<script type="text/babel">
  var destination = document.querySelector("#container");
  
  var TodoItems = React.createClass({
    getInitialState: function() {
      return {
        entries: this.props.entries
      };
    },
    
    
    render: function() {
      
      var todoEntries = this.state.entries;
      
      function createTasks(item) {
        var remove = function(e) {
          todoEntries = todoEntries.splice(todoEntries.indexOf(item.key), 1);
          
          this.setState({
            entries: todoEntries
          });
          
          e.preventDefault();
        }
        
        return <li key={item.key}>{item.text} <a href="" onClick={remove}>x</a></li>
      }

      var listItems = todoEntries.map(createTasks);
      
      return (
        <ul className="theList">
          {listItems}
        </ul>
      );
    }
  });
  
  var TodoList = React.createClass({
    getInitialState: function() {
      return {
        items: []
      };
    },
    
    addItem: function(e) {
      var itemArray = this.state.items;
      
      itemArray.push({
        text: this._inputElement.value,
        key: Date.now()
      });
      
      this.setState({
        items: itemArray
      });
      
      this._inputElement.value = "";
      
      e.preventDefault();
    },
    
    render: function() {
      return(
        <div key={this.props.key}>
          <div className="header">
            {this.props.text}
            <form onSubmit={this.addItem}>
              <input ref={(a) => this._inputElement = a}
                     placeholder="enter task">
              </input>
              <button type="submit">add</button>
            </form>
          </div>
          
          <TodoItems entries={this.state.items}/>
        </div>
      );
    }
  });
  
  var TodoCategories = React.createClass({
    getInitialState: function() {
      return {
        listNames: [],
        lists: []
      };
    },
    
    addList: function(e) {
      var listArray = this.state.lists;
      
      listArray.push({
        text: this._inputElement.value,
        key: Date.now()
      });
      
      this.setState({listNames: listArray});
      this._inputElement.value = "";
    
      e.preventDefault();
    },
    
    render: function() {
      var todoLists = this.state.listNames.map(function(list) {
        return <TodoList text={list.text} key={list.key}/>
      });
      
      return(
        <div className="todoListCategories">
          <form onSubmit={this.addList}>
            <input ref={(a) => this._inputElement = a}
                   placeholder="enter category">
            </input>
            <button type="submit">add</button>
          </form>
          
          <div>{todoLists}</div>
        </div>
      );
    }
  });
  
  ReactDOM.render(
    <div>
      <TodoCategories/>
    </div>, destination
  );
</script>